<!DOCTYPE html>
<html>
<head>
	<title>Raga Viz!</title>
	<style type="text/css">
	circle {
	  fill: rgb(31, 119, 180);
	  fill-opacity: .25;
	  stroke: rgb(31, 119, 180);
	  stroke-width: 1px;
	}

	.leaf circle {
	  fill: #ff7f0e;
	  fill-opacity: 1;
	}

	text {
	  font: 10px sans-serif;
	}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://rawgit.com/misoproject/d3.chart/master/d3.chart.min.js"></script>
<script src="https://rawgit.com/bansaghi/d3.chart.layout.hierarchy/master/d3.chart.layout.hierarchy.js"></script>
<script src="../src/ragaViz1.js"></script>

</head>
<body onload="initRagaViz()">

</body>
</html>